@font-face{
font-family: 'FlashFont'; /* Choose a descriptive name for your font */
        src: url('../fonts/FlashPrompt/FlashFont-Display.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
}

/* Barlow */

@font-face{
font-family: 'BarlowCondensed'; /* Choose a descriptive name for your font */
        src: url('../fonts/BarlowCondensed/BarlowCondensed-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
}

@font-face{
font-family: 'BarlowCondensed'; /* Choose a descriptive name for your font */
        src: url('../fonts/BarlowCondensed/BarlowCondensed-Thin.ttf') format('truetype');
        font-weight: 100;   
        font-style: normal;
}

@font-face{
font-family: 'BarlowCondensed'; /* Choose a descriptive name for your font */
        src: url('../fonts/BarlowCondensed/BarlowCondensed-ExtraLight.ttf') format('truetype');
        font-weight: 200;   
        font-style: normal;
}

@font-face{
font-family: 'BarlowCondensed'; /* Choose a descriptive name for your font */
        src: url('../fonts/BarlowCondensed/BarlowCondensed-Light.ttf') format('truetype');
        font-weight: 300;   
        font-style: normal;
}

@font-face{
font-family: 'BarlowCondensed'; /* Choose a descriptive name for your font */
        src: url('../fonts/BarlowCondensed/BarlowCondensed-Italic.ttf') format('truetype');
        font-weight: 1000;   
        font-style: normal;
}

@font-face{
font-family: 'BarlowCondensed'; /* Choose a descriptive name for your font */
        src: url('../fonts/BarlowCondensed/BarlowCondensed-Medium.ttf') format('truetype');
        font-weight: 500;   
        font-style: normal;
}

@font-face{
font-family: 'BarlowCondensed'; /* Choose a descriptive name for your font */
        src: url('../fonts/BarlowCondensed/BarlowCondensed-SemiBold.ttf') format('truetype');
        font-weight: 600;   
        font-style: normal;
}

@font-face{
font-family: 'BarlowCondensed'; /* Choose a descriptive name for your font */
        src: url('../fonts/BarlowCondensed/BarlowCondensed-Bold.ttf') format('truetype');
        font-weight: 700;   
        font-style: normal;
}

@font-face{
font-family: 'BarlowCondensed'; /* Choose a descriptive name for your font */
        src: url('../fonts/BarlowCondensed/BarlowCondensed-ExtraBold.ttf') format('truetype');
        font-weight: 800;   
        font-style: normal;
}

@font-face{
font-family: 'BarlowCondensed'; /* Choose a descriptive name for your font */
        src: url('../fonts/BarlowCondensed/BarlowCondensed-Black.ttf') format('truetype');
        font-weight:900;   
        font-style: normal;
}

/* BM Fonts */


@font-face{
font-family: 'BM-Hanna';
	src: url('../fonts/RocketFizz-fonts/BM-HANNA.ttf') format('truetype');
	font-style:normal;
	font-weight: normal;
}
@font-face{
font-family: 'BM-Kirang';
        src: url('../fonts/RocketFizz-fonts/KirangHaerang-Regular.ttf') format('truetype');
        font-style:normal;
	font-weight: normal;
}

/* Noto Serif Fonts */

@font-face{
font-family: 'noto-serif';   
        src: url('../fonts/NotoSerif/NotoSerif-Regular.ttf') format('truetype');
        font-style:normal;
        font-weight: 200;
}
@font-face{
font-family: 'noto-serif';
        src: url('../fonts/NotoSerif/NotoSerif-Bold.ttf') format('truetype');
        font-style:normal;
        font-weight: 300;
} 
@font-face{
font-family: 'noto-serif';
        src: url('../fonts/NotoSerif/NotoSerif-ExtraBold.ttf') format('truetype');
        font-style:normal;
        font-weight: 400;
} 


/* Gill Sans Fonts */
 
@font-face{
font-family: 'Gill-Sans';
        src: url('../fonts/GillSans/GillSans.ttf') format('truetype');
        font-style:normal;
        font-weight: 200;
}       
@font-face{
font-family: 'Gill-Sans';
        src: url('../fonts/GillSans/GillSans-Bold.ttf') format('truetype');
        font-style:normal;
        font-weight: 300;
}
@font-face{
font-family: 'Gill-Sans';
        src: url('../fonts/GillSans/GillSans-UltraBold.ttf') format('truetype');
        font-style:normal;
        font-weight: 400;
}

/* Monteserrat Fonts */

@font-face{
font-family: 'Monteserrat';  
        src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
        font-style:normal;
        font-weight: 100 900;
}
/* Quantico Fonts */

@font-face{
font-family: 'Quantico';  
        src: url('../fonts/Quantico/Quantico-Regular.ttf') format('truetype');
        font-style:normal;
        font-weight: 100;
}
@font-face{
font-family: 'Quantico';  
        src: url('../fonts/Quantico/Quantico-Bold.ttf') format('truetype');
        font-style:normal;
        font-weight: 200;
}