.color-container{
	float:left;
	width:100%;
	overflow:hidden;
}
.color-box{
	width:20%;
	height:500px;
	position:relative;
	z-index:0;
	background-color:blue;
	float:left;
	transition-duration: .6s;
	z-index:1;
	overflow:hidden;
}
.color-box:active{
	position:relative;
	z-index:100;
	transform: scale(10,.6) translate(0,-180px);
	overflow:hidden;

}
.color-name-container{
	float:left;
	width:100%;
	position:relative;
	bottom:250px;
	z-index:101;
	pointer-events:none;
}
.color-name-box{
	float:left;
	width:18%;
	background-color:blue;
	padding-left:2%;
	font-weight:bold;
	font-size:1.5rem;
	height:270px;
	transition:.3s;
}
.text-align-bottom{
	position:relative;
	top:75%x;
}
.project-header{
margin-bottom:10%;
background-color:blue;
font-size:1.5rem;
font-weight:bold;
padding:2%;

}
.section-text{
font-size:1.25rem;
color:black;
margin-left:41.8%;


}
@media screen and (max-width: 800px) {
.section-text{
margin-left:3%;
font-size:1rem;
}
.color-box{
width:100%;
height:100px;
}
.color-box:active{
transform: scale(2,10) translate(0px,0);
}
.color-name-box{
height:100px;
width:50%;
float:none;
padding:0.01% 0%;
}
.color-name-container{
bottom:500px;
}
.text-align-bottom{
position-relative;
left:35%;
font-weight:600;
font-size:1rem;
}

}
